openapi: 3.0.3
info:
  title: Nordic Crypto data API
  version: "1"
  description: "Public read-only JSON for Nordic Crypto (https://nordiccrypto.no/). No authentication. News, newsletters, events, sources, academia, the who's who, profiles, images, the rules map, the changelog, the article archive, public talk videos and Nordic exchange prices (market data, not investment advice). Kaupr is a news source only, never a sponsor. The sign-off is The Nordic Crypto team. GitHub Pages sends Access-Control-Allow-Origin: * so browsers can fetch these files. English text is the default; published translations are inside each object under *_i18n. Site languages: /api/v1/languages.json. IP-country language guess: /api/v1/geo-language.json (the nc_lang cookie wins). Discovery: https://nordiccrypto.no/api/v1/index.json. Human docs: https://nordiccrypto.no/api/."
  license:
    name: MIT
    url: "https://github.com/jQrgen/nordic-crypto/blob/main/LICENSE"
  contact:
    name: Nordic Crypto
    url: "https://nordiccrypto.no/about/"
servers:
  - url: "https://nordiccrypto.no"
    description: Public site
paths:
  "/api/v1/index.json":
    get:
      operationId: index
      summary: "Discovery document: every endpoint, with example URLs."
      responses:
        "200":
          description: "Discovery document: every endpoint, with example URLs."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Discovery"
  "/api/v1/news.json":
    get:
      operationId: api_v1_news
      summary: "Published news and our own stories, newest first."
      responses:
        "200":
          description: "Published news and our own stories, newest first."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/NewsList"
  "/api/v1/news/{id}.json":
    get:
      operationId: api_v1_news_item
      summary: One item from /api/v1/news.json
      responses:
        "200":
          description: One item from /api/v1/news.json
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Document"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/news/by-country/{country}.json":
    get:
      operationId: news_by_country
      summary: "Published news for one country code: NO, SE, DK, FI, IS, NORDIC or EU."
      responses:
        "200":
          description: "Published news for one country code: NO, SE, DK, FI, IS, NORDIC or EU."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/NewsList"
      parameters:
        - name: country
          in: path
          required: true
          schema:
            type: string
            enum:
              - "NO"
              - SE
              - DK
              - FI
              - IS
              - NORDIC
              - EU
  "/api/v1/news/topics.json":
    get:
      operationId: api_v1_news_topics
      summary: "Topic ids present in the published news, with counts."
      responses:
        "200":
          description: "Topic ids present in the published news, with counts."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/TopicIndex"
  "/api/v1/news/by-topic/{topic}.json":
    get:
      operationId: api_v1_news_topics_item
      summary: One item from /api/v1/news/topics.json
      responses:
        "200":
          description: One item from /api/v1/news/topics.json
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Document"
      parameters:
        - name: topic
          in: path
          required: true
          schema:
            type: string
  "/api/v1/newsletters.json":
    get:
      operationId: api_v1_newsletters
      summary: "Published newsletter issues, newest first. The list omits the HTML body; the issue URL includes text and html."
      responses:
        "200":
          description: "Published newsletter issues, newest first. The list omits the HTML body; the issue URL includes text and html."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/NewsletterList"
  "/api/v1/newsletters/{id}.json":
    get:
      operationId: api_v1_newsletters_item
      summary: One item from /api/v1/newsletters.json
      responses:
        "200":
          description: One item from /api/v1/newsletters.json
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Document"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/events.json":
    get:
      operationId: api_v1_events
      summary: "Public events, soonest start first, including past events."
      responses:
        "200":
          description: "Public events, soonest start first, including past events."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/EventList"
  "/api/v1/events/{id}.json":
    get:
      operationId: api_v1_events_item
      summary: One item from /api/v1/events.json
      responses:
        "200":
          description: One item from /api/v1/events.json
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Document"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/events/upcoming.json":
    get:
      operationId: api_v1_events_upcoming
      summary: "Events that have not ended, soonest first. Judged in the event's own offset."
      responses:
        "200":
          description: "Events that have not ended, soonest first. Judged in the event's own offset."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/EventList"
  "/api/v1/events/past.json":
    get:
      operationId: api_v1_events_past
      summary: "Finished public events, newest first. Finished events stay in the archive."
      responses:
        "200":
          description: "Finished public events, newest first. Finished events stay in the archive."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/EventList"
  "/api/v1/events/previous.json":
    get:
      operationId: api_v1_events_previous
      summary: "Previous events, newest finish first. Finished calendar events plus backfilled public events (source backfill). Backfill is not on the calendar or in upcoming or past."
      responses:
        "200":
          description: "Previous events, newest finish first. Finished calendar events plus backfilled public events (source backfill). Backfill is not on the calendar or in upcoming or past."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/EventList"
  "/api/v1/events/by-country/{country}.json":
    get:
      operationId: events_by_country
      summary: Public events for one country code.
      responses:
        "200":
          description: Public events for one country code.
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/EventList"
      parameters:
        - name: country
          in: path
          required: true
          schema:
            type: string
            enum:
              - "NO"
              - SE
              - DK
              - FI
              - IS
              - NORDIC
              - EU
  "/api/v1/talks.json":
    get:
      operationId: api_v1_talks
      summary: "Public talks on bitcoin, cryptocurrencies and blockchain in the Nordic countries, newest first. A player is embedded on the site only when embed is true (YouTube via youtube-nocookie.com, or the Vimeo player). Unknown fields are null. description is ours; title and the other details come from the platform."
      responses:
        "200":
          description: "Public talks on bitcoin, cryptocurrencies and blockchain in the Nordic countries, newest first. A player is embedded on the site only when embed is true (YouTube via youtube-nocookie.com, or the Vimeo player). Unknown fields are null. description is ours; title and the other details come from the platform."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/TalkList"
  "/api/v1/talks/{id}.json":
    get:
      operationId: api_v1_talks_item
      summary: One item from /api/v1/talks.json
      responses:
        "200":
          description: One item from /api/v1/talks.json
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Document"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/talks/by-country/{country}.json":
    get:
      operationId: talks_by_country
      summary: "Public talks for one country code: NO, SE, DK, FI, IS, FO (Faroe Islands), GL (Greenland) or AX (Åland)."
      responses:
        "200":
          description: "Public talks for one country code: NO, SE, DK, FI, IS, FO (Faroe Islands), GL (Greenland) or AX (Åland)."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/TalkList"
      parameters:
        - name: country
          in: path
          required: true
          schema:
            type: string
            enum:
              - "NO"
              - SE
              - DK
              - FI
              - IS
              - FO
              - GL
              - AX
  "/api/v1/sources.json":
    get:
      operationId: api_v1_sources
      summary: "News outlets, justice-system press pages, the public search terms, and event sources. coverage is national, regional, local or justice. region is the place. feed is null when no working RSS, sitemap or index page was verified. method is rss, html, sitemap, search or manual. Event sources name the intake method. Luma calendars use a public iCal subscribe URL. Eventbrite organizers and venues use the v3 API when the server has EVENTBRITE_TOKEN; the token is not in this feed. Without it, event pages are schema.org JSON-LD. icon_url is a public icon from the outlet when one was easy to find. logo_source is the URL the stored logo was fetched from. logo is the checked outlet image for that source id when one is on file, used only to identify the source. Kaupr is marked as a news source only and is never an event sponsor."
      responses:
        "200":
          description: "News outlets, justice-system press pages, the public search terms, and event sources. coverage is national, regional, local or justice. region is the place. feed is null when no working RSS, sitemap or index page was verified. method is rss, html, sitemap, search or manual. Event sources name the intake method. Luma calendars use a public iCal subscribe URL. Eventbrite organizers and venues use the v3 API when the server has EVENTBRITE_TOKEN; the token is not in this feed. Without it, event pages are schema.org JSON-LD. icon_url is a public icon from the outlet when one was easy to find. logo_source is the URL the stored logo was fetched from. logo is the checked outlet image for that source id when one is on file, used only to identify the source. Kaupr is marked as a news source only and is never an event sponsor."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/SourceCatalogue"
  "/api/v1/academia.json":
    get:
      operationId: api_v1_academia
      summary: "Editor-approved courses, student groups, publications and research."
      responses:
        "200":
          description: "Editor-approved courses, student groups, publications and research."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Academia"
  "/api/v1/academia/courses.json":
    get:
      operationId: api_v1_academia_courses
      summary: "Academia section: courses."
      responses:
        "200":
          description: "Academia section: courses."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/AcademiaSection"
  "/api/v1/academia/groups.json":
    get:
      operationId: api_v1_academia_groups
      summary: "Academia section: groups."
      responses:
        "200":
          description: "Academia section: groups."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/AcademiaSection"
  "/api/v1/academia/publications.json":
    get:
      operationId: api_v1_academia_publications
      summary: "Academia section: publications."
      responses:
        "200":
          description: "Academia section: publications."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/AcademiaSection"
  "/api/v1/academia/research.json":
    get:
      operationId: api_v1_academia_research
      summary: "Academia section: research."
      responses:
        "200":
          description: "Academia section: research."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/AcademiaSection"
  "/api/v1/academia/{id}.json":
    get:
      operationId: academia_item
      summary: One academia row. The id is in academia.json.
      responses:
        "200":
          description: One academia row. The id is in academia.json.
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/AcademiaItem"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/orgchart.json":
    get:
      operationId: api_v1_orgchart
      summary: "Published who's who: organisations, people, relations, regulation notes and caveats. A person named on a talk has talk_ids, event_ids and talks. affiliations lists the organisation the talk page stated for that talk, with the talk date when the page gave one, the source URL and the retrieval time. An affiliation the page did not state is omitted."
      responses:
        "200":
          description: "Published who's who: organisations, people, relations, regulation notes and caveats. A person named on a talk has talk_ids, event_ids and talks. affiliations lists the organisation the talk page stated for that talk, with the talk date when the page gave one, the source URL and the retrieval time. An affiliation the page did not state is omitted."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/OrgChart"
  "/api/v1/orgchart/{id}.json":
    get:
      operationId: api_v1_orgchart_item
      summary: One item from /api/v1/orgchart.json
      responses:
        "200":
          description: One item from /api/v1/orgchart.json
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Document"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/orgchart/relations.json":
    get:
      operationId: api_v1_orgchart_relations
      summary: "Relations between published who's who entries."
      responses:
        "200":
          description: "Relations between published who's who entries."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/RelationList"
  "/api/v1/orgchart/regulation.json":
    get:
      operationId: api_v1_orgchart_regulation
      summary: "Short regulation status for each Nordic country, as on the who's who page."
      responses:
        "200":
          description: "Short regulation status for each Nordic country, as on the who's who page."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/RegulationList"
  "/api/v1/orgchart/relations/{id}.json":
    get:
      operationId: orgchart_relation
      summary: "One relation from the who's who."
      responses:
        "200":
          description: "One relation from the who's who."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Relation"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/profiles.json":
    get:
      operationId: api_v1_profiles
      summary: "Public profile links (Wikipedia, X, Wikidata and similar) for people and organisations."
      responses:
        "200":
          description: "Public profile links (Wikipedia, X, Wikidata and similar) for people and organisations."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ProfileList"
  "/api/v1/profiles/{id}.json":
    get:
      operationId: api_v1_profiles_item
      summary: One item from /api/v1/profiles.json
      responses:
        "200":
          description: One item from /api/v1/profiles.json
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Document"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/images.json":
    get:
      operationId: api_v1_images
      summary: "Logos and photos used on the public who's who, with licence and credit. These are not newspaper photographs."
      responses:
        "200":
          description: "Logos and photos used on the public who's who, with licence and credit. These are not newspaper photographs."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ImageList"
  "/api/v1/illustrations.json":
    get:
      operationId: api_v1_illustrations
      summary: "Pictures used on story cards and story pages. Each record has source, author, license and url. No photograph from another newspaper is included. Outlet logos are in images.json and on each news item as source_logo."
      responses:
        "200":
          description: "Pictures used on story cards and story pages. Each record has source, author, license and url. No photograph from another newspaper is included. Outlet logos are in images.json and on each news item as source_logo."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/IllustrationList"
  "/api/v1/changelog.json":
    get:
      operationId: api_v1_changelog
      summary: "Site changelog (product changes, not the news), newest first."
      responses:
        "200":
          description: "Site changelog (product changes, not the news), newest first."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ChangelogList"
  "/api/v1/changelog/{id}.json":
    get:
      operationId: api_v1_changelog_item
      summary: One item from /api/v1/changelog.json
      responses:
        "200":
          description: One item from /api/v1/changelog.json
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Document"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/rules.json":
    get:
      operationId: api_v1_rules
      summary: "How EU crypto rules become law in the five countries. Simplified, not legal advice. Omitted while the page is still a placeholder."
      responses:
        "200":
          description: "How EU crypto rules become law in the five countries. Simplified, not legal advice. Omitted while the page is still a placeholder."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Rules"
  "/api/v1/archive/articles.json":
    get:
      operationId: api_v1_archive_articles
      summary: Append-only archive of stories that have been on the public site. removed is  true when a story later left the site; the row stays.
      responses:
        "200":
          description: Append-only archive of stories that have been on the public site. removed is  true when a story later left the site; the row stays.
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/ArticleArchive"
  "/api/v1/archive/articles/{id}.json":
    get:
      operationId: api_v1_archive_articles_item
      summary: One item from /api/v1/archive/articles.json
      responses:
        "200":
          description: One item from /api/v1/archive/articles.json
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/Document"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  "/api/v1/markets.json":
    get:
      operationId: markets
      summary: "Nordic exchange prices. Market data, not investment advice. Each ticker names the exchange, fetched_at, the source URL and volume when the exchange published it. NOK, SEK, DKK and EUR only. aggregated is one row per pair."
      responses:
        "200":
          description: "Nordic exchange prices. Market data, not investment advice. Each ticker names the exchange, fetched_at, the source URL and volume when the exchange published it. NOK, SEK, DKK and EUR only. aggregated is one row per pair."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/MarketCatalogue"
  "/api/v1/markets/aggregated.json":
    get:
      operationId: markets_aggregated
      summary: "One price per base-quote pair. BTC-NOK is separate from BTC-EUR. last is the mean of published last prices. mid is the mean of bid/ask midpoints and is not blended into last. Volume is summed only within the same field and the same pair. logo_url is a CC0 icon when cryptocurrency-icons includes the asset, otherwise null."
      responses:
        "200":
          description: "One price per base-quote pair. BTC-NOK is separate from BTC-EUR. last is the mean of published last prices. mid is the mean of bid/ask midpoints and is not blended into last. Volume is summed only within the same field and the same pair. logo_url is a CC0 icon when cryptocurrency-icons includes the asset, otherwise null."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/MarketAggregated"
  "/api/v1/markets/{exchange}.json":
    get:
      operationId: markets_exchange
      summary: "Prices from one included exchange: firi (Norway), nbx (Norway) or coinmotion (Finland)."
      responses:
        "200":
          description: "Prices from one included exchange: firi (Norway), nbx (Norway) or coinmotion (Finland)."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/MarketExchange"
      parameters:
        - name: exchange
          in: path
          required: true
          schema:
            type: string
  "/api/v1/markets/by-asset/{symbol}.json":
    get:
      operationId: markets_asset
      summary: "Prices for one asset (the base symbol, such as BTC) on every included Nordic exchange, plus aggregated pairs for each quote currency and logo_url when an icon is available."
      responses:
        "200":
          description: "Prices for one asset (the base symbol, such as BTC) on every included Nordic exchange, plus aggregated pairs for each quote currency and logo_url when an icon is available."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/MarketAsset"
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
  "/api/v1/languages.json":
    get:
      operationId: api_v1_languages
      summary: "Site UI languages: code, native name, English name, rtl, html lang and home URL."
      responses:
        "200":
          description: "Site UI languages: code, native name, English name, rtl, html lang and home URL."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/LanguageList"
  "/api/v1/geo-language.json":
    get:
      operationId: api_v1_geo_language
      summary: Country to default site language. An IP guess only; the nc_lang cookie from the language switcher wins.
      responses:
        "200":
          description: Country to default site language. An IP guess only; the nc_lang cookie from the language switcher wins.
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/GeoLanguage"
  "/api/v1/meta.json":
    get:
      operationId: api_v1_meta
      summary: "Site name, languages, countries, page list, CORS, editorial notes and brand social accounts (social.telegram, social.x)."
      responses:
        "200":
          description: "Site name, languages, countries, page list, CORS, editorial notes and brand social accounts (social.telegram, social.x)."
          content:
            "application/json":
              schema:
                "$ref": "#/components/schemas/SiteMeta"
components:
  schemas:
    Document:
      type: object
      additionalProperties: true
    Discovery:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        endpoints:
          type: array
        counts:
          type: object
        cors:
          type: object
      description: Discovery
    NewsOutlet:
      type: object
      required:
        - url
        - primary
      properties:
        outlet:
          type: string
          description: Source id from sources.json.
        outlet_name:
          type: string
        url:
          type: string
        title:
          type: string
          description: "That outlet's headline."
        published:
          type: string
          description: ISO 8601 date-time with offset.
        lang:
          type: string
          description: "Language name, same vocabulary as language on the story."
        language_code:
          type: string
          nullable: true
        country:
          type: string
        source_type:
          type: string
          enum:
            - national
            - regional
            - official
            - international
          description: "national, regional (regional and local), official (justice and official), or international."
        paywall:
          type: boolean
        primary:
          type: boolean
        logo:
          type: object
          nullable: true
          description: "Outlet logo for this source id (via outlet / _source_alias in assets/img/logos/logos.json). Null when no checked image is on file; show the name only. Same fields as a who's who logo in images.json, plus raster_url."
          properties:
            kind:
              type: string
              enum:
                - logo
            file_url:
              type: string
              description: "The original file as fetched: SVG, or WebP for raster logos."
            raster_url:
              type: string
              nullable: true
              description: "PNG rendering of an SVG (256 px on the long side, transparent), or the WebP itself. Same value as logo_url."
            source_url:
              type: string
              nullable: true
              description: "Wikimedia Commons file page, or the image URL on the publisher's site."
            author:
              type: string
              nullable: true
            license:
              type: string
              nullable: true
              description: "Commons licence, or \"Publisher's own logo, used only to identify the source of a headline\"."
            license_url:
              type: string
              nullable: true
            credit:
              type: string
              nullable: true
              description: Wikimedia Commons or Official website.
        source_note:
          type: string
          nullable: true
          description: "Set when the outlet is Kaupr: a news source only, never a sponsor."
    NewsCoverage:
      type: object
      required:
        - count
        - by_country
        - by_source_type
      properties:
        count:
          type: integer
        by_country:
          type: array
          items:
            type: object
            properties:
              country:
                type: string
              count:
                type: integer
              share:
                type: number
        by_source_type:
          type: array
          description: "Always national, regional, official and international, in that order. count 0 is included."
          items:
            type: object
            properties:
              type:
                type: string
              count:
                type: integer
              share:
                type: number
    NewsItem:
      type: object
      required:
        - id
        - title
        - published
        - api_url
      properties:
        id:
          type: string
        url:
          type: string
          description: Story the reader follows. Absolute.
        html_url:
          type: string
          nullable: true
          description: "Our story page: summary, licensed picture and the outlets. For our own articles this is the article. For other outlets this is the coverage page; url is the primary outlet."
        api_url:
          type: string
        title:
          type: string
          description: Source headline.
        title_en:
          type: string
          nullable: true
          description: "Our English headline, when the source headline is not English."
        title_i18n:
          type: object
          additionalProperties:
            type: string
          description: "Our headline in nn, nb, sv, da, fi and is, when that language is not already the source headline. English is title_en."
        source:
          type: string
          description: Source id from sources.json.
        source_name:
          type: string
        source_logo:
          type: object
          nullable: true
          description: "Outlet logo for this source id (via outlet / _source_alias in assets/img/logos/logos.json). Null when no checked image is on file; show the name only. Same fields as a who's who logo in images.json, plus raster_url."
          properties:
            kind:
              type: string
              enum:
                - logo
            file_url:
              type: string
              description: "The original file as fetched: SVG, or WebP for raster logos."
            raster_url:
              type: string
              nullable: true
              description: "PNG rendering of an SVG (256 px on the long side, transparent), or the WebP itself. Same value as logo_url."
            source_url:
              type: string
              nullable: true
              description: "Wikimedia Commons file page, or the image URL on the publisher's site."
            author:
              type: string
              nullable: true
            license:
              type: string
              nullable: true
              description: "Commons licence, or \"Publisher's own logo, used only to identify the source of a headline\"."
            license_url:
              type: string
              nullable: true
            credit:
              type: string
              nullable: true
              description: Wikimedia Commons or Official website.
        source_note:
          type: string
          nullable: true
        country:
          type: string
        language:
          type: string
        language_code:
          type: string
          nullable: true
        published:
          type: string
          description: ISO 8601 date-time with offset.
        topics:
          type: array
          items:
            type: string
        summary:
          type: string
          nullable: true
          description: Our English summary.
        summary_i18n:
          type: object
          additionalProperties:
            type: string
          description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
        paywall:
          type: boolean
        links:
          type: array
          items:
            type: object
        own_story:
          type: boolean
        illustration:
          type: object
          nullable: true
          description: "Licensed picture assigned to this story. The site does not render it. source, author, license and url are the credit. file_url is our copy. Never a newspaper photograph."
          properties:
            id:
              type: string
            kind:
              type: string
              enum:
                - original
                - commons
                - official-press
            file_url:
              type: string
            width:
              type: integer
            height:
              type: integer
            alt:
              type: string
            source:
              type: string
            author:
              type: string
            license:
              type: string
            license_url:
              type: string
              nullable: true
            url:
              type: string
            credit:
              type: string
            modifications:
              type: string
              nullable: true
            terms:
              type: string
              nullable: true
        source_logo_url:
          type: string
          nullable: true
          description: "Absolute URL of the news source's logo as a raster image (PNG or WebP, never SVG, so SwiftUI AsyncImage can draw it) on the GitHub Pages base. Null until the editor has checked the logo (review ok); a preview build also lists pending logos. The publisher's trademark, shown only to identify the source. Same as source_logo.raster_url."
        primary_source:
          "$ref": "#/components/schemas/NewsOutlet"
        primary_source_document:
          type: object
          nullable: true
          description: "Editor-recorded original document, such as a regulator press release. name and url. Not the lead coverage outlet."
          properties:
            name:
              type: string
            url:
              type: string
        also_covered_by:
          type: array
          items:
            "$ref": "#/components/schemas/NewsOutlet"
          description: Other outlets on the same event. Empty when only the primary covered it.
        sources:
          type: array
          items:
            "$ref": "#/components/schemas/NewsOutlet"
          description: "Primary first, then also_covered_by."
        coverage:
          "$ref": "#/components/schemas/NewsCoverage"
    NewsList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        count:
          type: integer
        items:
          type: array
          items:
            type: object
            required:
              - id
              - title
              - published
              - api_url
            properties:
              id:
                type: string
              url:
                type: string
                description: Story the reader follows. Absolute.
              html_url:
                type: string
                nullable: true
                description: "Our story page: summary, licensed picture and the outlets. For our own articles this is the article. For other outlets this is the coverage page; url is the primary outlet."
              api_url:
                type: string
              title:
                type: string
                description: Source headline.
              title_en:
                type: string
                nullable: true
                description: "Our English headline, when the source headline is not English."
              title_i18n:
                type: object
                additionalProperties:
                  type: string
                description: "Our headline in nn, nb, sv, da, fi and is, when that language is not already the source headline. English is title_en."
              source:
                type: string
                description: Source id from sources.json.
              source_name:
                type: string
              source_logo:
                type: object
                nullable: true
                description: "Outlet logo for this source id (via outlet / _source_alias in assets/img/logos/logos.json). Null when no checked image is on file; show the name only. Same fields as a who's who logo in images.json, plus raster_url."
                properties:
                  kind:
                    type: string
                    enum:
                      - logo
                  file_url:
                    type: string
                    description: "The original file as fetched: SVG, or WebP for raster logos."
                  raster_url:
                    type: string
                    nullable: true
                    description: "PNG rendering of an SVG (256 px on the long side, transparent), or the WebP itself. Same value as logo_url."
                  source_url:
                    type: string
                    nullable: true
                    description: "Wikimedia Commons file page, or the image URL on the publisher's site."
                  author:
                    type: string
                    nullable: true
                  license:
                    type: string
                    nullable: true
                    description: "Commons licence, or \"Publisher's own logo, used only to identify the source of a headline\"."
                  license_url:
                    type: string
                    nullable: true
                  credit:
                    type: string
                    nullable: true
                    description: Wikimedia Commons or Official website.
              source_note:
                type: string
                nullable: true
              country:
                type: string
              language:
                type: string
              language_code:
                type: string
                nullable: true
              published:
                type: string
                description: ISO 8601 date-time with offset.
              topics:
                type: array
                items:
                  type: string
              summary:
                type: string
                nullable: true
                description: Our English summary.
              summary_i18n:
                type: object
                additionalProperties:
                  type: string
                description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
              paywall:
                type: boolean
              links:
                type: array
                items:
                  type: object
              own_story:
                type: boolean
              illustration:
                type: object
                nullable: true
                description: "Licensed picture assigned to this story. The site does not render it. source, author, license and url are the credit. file_url is our copy. Never a newspaper photograph."
                properties:
                  id:
                    type: string
                  kind:
                    type: string
                    enum:
                      - original
                      - commons
                      - official-press
                  file_url:
                    type: string
                  width:
                    type: integer
                  height:
                    type: integer
                  alt:
                    type: string
                  source:
                    type: string
                  author:
                    type: string
                  license:
                    type: string
                  license_url:
                    type: string
                    nullable: true
                  url:
                    type: string
                  credit:
                    type: string
                  modifications:
                    type: string
                    nullable: true
                  terms:
                    type: string
                    nullable: true
              source_logo_url:
                type: string
                nullable: true
                description: "Absolute URL of the news source's logo as a raster image (PNG or WebP, never SVG, so SwiftUI AsyncImage can draw it) on the GitHub Pages base. Null until the editor has checked the logo (review ok); a preview build also lists pending logos. The publisher's trademark, shown only to identify the source. Same as source_logo.raster_url."
              primary_source:
                "$ref": "#/components/schemas/NewsOutlet"
              primary_source_document:
                type: object
                nullable: true
                description: "Editor-recorded original document, such as a regulator press release. name and url. Not the lead coverage outlet."
                properties:
                  name:
                    type: string
                  url:
                    type: string
              also_covered_by:
                type: array
                items:
                  "$ref": "#/components/schemas/NewsOutlet"
                description: Other outlets on the same event. Empty when only the primary covered it.
              sources:
                type: array
                items:
                  "$ref": "#/components/schemas/NewsOutlet"
                description: "Primary first, then also_covered_by."
              coverage:
                "$ref": "#/components/schemas/NewsCoverage"
        updated:
          type: string
          nullable: true
        logo_note:
          type: string
      description: NewsList
    TopicIndex:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        topics:
          type: array
      description: TopicIndex
    Event:
      type: object
      required:
        - id
        - title
        - start
      properties:
        id:
          type: string
        title:
          type: string
        title_original:
          type: string
          nullable: true
        start:
          type: string
          description: ISO 8601 date-time with offset.
        end:
          type: string
          nullable: true
        place:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        country:
          type: string
        online:
          type: boolean
        organiser:
          type: string
        url:
          type: string
        source:
          type: string
        paid:
          nullable: true
        sponsored:
          nullable: true
          description: "false, true, or the sponsor's name. Never Kaupr."
        note:
          type: string
          nullable: true
        note_i18n:
          type: object
          additionalProperties:
            type: string
          description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
        description:
          type: object
          nullable: true
          description: "The organiser's description. text is the original wording, lang is its language code, source_url is the page it was taken from. i18n holds nn, nb, sv, da, fi and is, and en when the original is not English. A missing translation is omitted. Null when no description was sourced. Kaupr is not included."
          properties:
            text:
              type: string
            lang:
              type: string
              nullable: true
            source_url:
              type: string
            source_name:
              type: string
              nullable: true
            retrieved:
              type: string
              nullable: true
            i18n:
              type: object
              additionalProperties:
                type: string
              description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
        past:
          type: boolean
        ongoing:
          type: boolean
          description: True while start <= now <= end. Additive. Events with no end are never ongoing.
        place_source:
          type: object
          nullable: true
          description: "Credit for the venue or online flag: name, url, retrieved. Omitted when the place cannot be credited."
        attendees:
          type: object
          nullable: true
          description: "Registered participant count with source_name, source_url and retrieved. Omitted when the source did not state a count. Capacity is not a count."
        html_url:
          type: string
          description: "This event's page on the site, /calendar/<id>/."
        html_urls:
          type: object
          description: "The same page in every site language. English is at the root. Other codes are /<code>/calendar/<id>/."
        api_url:
          type: string
        backfill:
          type: boolean
          description: True when the row comes from the previous-events backfill. Absent on calendar events. Those rows are only in previous.json.
        event_type:
          type: string
          nullable: true
          enum:
            - conference
            - meetup
            - hackathon
            - seminar
          description: Set on backfilled events when a source supports the type.
        language:
          type: string
          nullable: true
          description: Language code when a source states it. Omitted when unknown.
        speakers_count:
          type: integer
          nullable: true
          description: Exact speaker count when a source states one. Omitted otherwise. A session count is not a speaker count.
        videos_url:
          type: string
          nullable: true
          description: Link to talk videos when a source gives one.
        talk_ids:
          type: array
          items:
            type: string
          description: Ids of talks in /api/v1/talks.json recorded at this event. Omitted when none are linked.
        credits:
          type: object
          nullable: true
          description: "Per-field source_name, source_url and retrieved_at on backfilled events."
    EventList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        count:
          type: integer
        events:
          type: array
          items:
            type: object
            required:
              - id
              - title
              - start
            properties:
              id:
                type: string
              title:
                type: string
              title_original:
                type: string
                nullable: true
              start:
                type: string
                description: ISO 8601 date-time with offset.
              end:
                type: string
                nullable: true
              place:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              country:
                type: string
              online:
                type: boolean
              organiser:
                type: string
              url:
                type: string
              source:
                type: string
              paid:
                nullable: true
              sponsored:
                nullable: true
                description: "false, true, or the sponsor's name. Never Kaupr."
              note:
                type: string
                nullable: true
              note_i18n:
                type: object
                additionalProperties:
                  type: string
                description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
              description:
                type: object
                nullable: true
                description: "The organiser's description. text is the original wording, lang is its language code, source_url is the page it was taken from. i18n holds nn, nb, sv, da, fi and is, and en when the original is not English. A missing translation is omitted. Null when no description was sourced. Kaupr is not included."
                properties:
                  text:
                    type: string
                  lang:
                    type: string
                    nullable: true
                  source_url:
                    type: string
                  source_name:
                    type: string
                    nullable: true
                  retrieved:
                    type: string
                    nullable: true
                  i18n:
                    type: object
                    additionalProperties:
                      type: string
                    description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
              past:
                type: boolean
              ongoing:
                type: boolean
                description: True while start <= now <= end. Additive. Events with no end are never ongoing.
              place_source:
                type: object
                nullable: true
                description: "Credit for the venue or online flag: name, url, retrieved. Omitted when the place cannot be credited."
              attendees:
                type: object
                nullable: true
                description: "Registered participant count with source_name, source_url and retrieved. Omitted when the source did not state a count. Capacity is not a count."
              html_url:
                type: string
                description: "This event's page on the site, /calendar/<id>/."
              html_urls:
                type: object
                description: "The same page in every site language. English is at the root. Other codes are /<code>/calendar/<id>/."
              api_url:
                type: string
              backfill:
                type: boolean
                description: True when the row comes from the previous-events backfill. Absent on calendar events. Those rows are only in previous.json.
              event_type:
                type: string
                nullable: true
                enum:
                  - conference
                  - meetup
                  - hackathon
                  - seminar
                description: Set on backfilled events when a source supports the type.
              language:
                type: string
                nullable: true
                description: Language code when a source states it. Omitted when unknown.
              speakers_count:
                type: integer
                nullable: true
                description: Exact speaker count when a source states one. Omitted otherwise. A session count is not a speaker count.
              videos_url:
                type: string
                nullable: true
                description: Link to talk videos when a source gives one.
              talk_ids:
                type: array
                items:
                  type: string
                description: Ids of talks in /api/v1/talks.json recorded at this event. Omitted when none are linked.
              credits:
                type: object
                nullable: true
                description: "Per-field source_name, source_url and retrieved_at on backfilled events."
      description: EventList
    Talk:
      type: object
      required:
        - id
        - video_url
        - platform
        - title
        - source_url
        - retrieved_at
        - added_at
      description: A public talk. Unknown fields are null. description is written by Nordic Crypto. The other details come from the platform named in source_url.
      properties:
        id:
          type: string
        video_url:
          type: string
        platform:
          type: string
          enum:
            - youtube
            - vimeo
            - university
            - other
        title:
          type: string
        speakers:
          type: array
          items:
            type: string
          description: Names the platform page states. Empty when none are stated.
        event_name:
          type: string
          nullable: true
        event_url:
          type: string
          nullable: true
        calendar_event_id:
          type: string
          nullable: true
          description: "Same value as event_id. The event page is /calendar/<id>/ and the document is /api/v1/events/<id>.json. Previous events are also listed in /api/v1/events/previous.json."
        event_id:
          type: string
          nullable: true
          description: Id of the event this talk belongs to. Null when the talk could not be dated or placed.
        unlink_reason:
          type: string
          nullable: true
          description: Why the talk is not linked to an event. Null when event_id is set.
        city:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
          description: "NO, SE, DK, FI, IS, FO, GL or AX."
        date:
          type: string
          nullable: true
          description: "Calendar date of the talk, YYYY-MM-DD, when the source states it."
        published:
          type: string
          nullable: true
          description: "Date the video was published, YYYY-MM-DD."
        duration:
          type: string
          nullable: true
          description: ISO 8601 duration when the platform states a length.
        language:
          type: string
          nullable: true
          description: Language of the talk when the source states it.
        channel:
          type: string
          nullable: true
        description:
          type: string
          description: Short neutral summary in our own words.
        source_url:
          type: string
          description: Page the metadata was retrieved from.
        retrieved_at:
          type: string
          description: ISO 8601 timestamp.
        added_at:
          type: string
          description: ISO 8601 timestamp.
        embed:
          type: boolean
          description: "True when the platform's oEmbed response includes an official player."
        speaker_ids:
          type: array
          items:
            type: string
          description: "Who's who ids for speakers, in the same order as speakers. Empty when the page named nobody."
        html_url:
          type: string
        api_url:
          type: string
    TalkList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        count:
          type: integer
        talks:
          type: array
          items:
            type: object
            required:
              - id
              - video_url
              - platform
              - title
              - source_url
              - retrieved_at
              - added_at
            description: A public talk. Unknown fields are null. description is written by Nordic Crypto. The other details come from the platform named in source_url.
            properties:
              id:
                type: string
              video_url:
                type: string
              platform:
                type: string
                enum:
                  - youtube
                  - vimeo
                  - university
                  - other
              title:
                type: string
              speakers:
                type: array
                items:
                  type: string
                description: Names the platform page states. Empty when none are stated.
              event_name:
                type: string
                nullable: true
              event_url:
                type: string
                nullable: true
              calendar_event_id:
                type: string
                nullable: true
                description: "Same value as event_id. The event page is /calendar/<id>/ and the document is /api/v1/events/<id>.json. Previous events are also listed in /api/v1/events/previous.json."
              event_id:
                type: string
                nullable: true
                description: Id of the event this talk belongs to. Null when the talk could not be dated or placed.
              unlink_reason:
                type: string
                nullable: true
                description: Why the talk is not linked to an event. Null when event_id is set.
              city:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
                description: "NO, SE, DK, FI, IS, FO, GL or AX."
              date:
                type: string
                nullable: true
                description: "Calendar date of the talk, YYYY-MM-DD, when the source states it."
              published:
                type: string
                nullable: true
                description: "Date the video was published, YYYY-MM-DD."
              duration:
                type: string
                nullable: true
                description: ISO 8601 duration when the platform states a length.
              language:
                type: string
                nullable: true
                description: Language of the talk when the source states it.
              channel:
                type: string
                nullable: true
              description:
                type: string
                description: Short neutral summary in our own words.
              source_url:
                type: string
                description: Page the metadata was retrieved from.
              retrieved_at:
                type: string
                description: ISO 8601 timestamp.
              added_at:
                type: string
                description: ISO 8601 timestamp.
              embed:
                type: boolean
                description: "True when the platform's oEmbed response includes an official player."
              speaker_ids:
                type: array
                items:
                  type: string
                description: "Who's who ids for speakers, in the same order as speakers. Empty when the page named nobody."
              html_url:
                type: string
              api_url:
                type: string
      description: TalkList
    NewsletterIssue:
      type: object
      required:
        - id
        - date
        - title
      properties:
        id:
          type: string
        number:
          type: integer
        date:
          type: string
          description: ISO date YYYY-MM-DD.
        period:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        title:
          type: string
        subtitle:
          type: string
        title_i18n:
          type: object
          additionalProperties:
            type: string
          description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
        subtitle_i18n:
          type: object
          additionalProperties:
            type: string
          description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
        sign_off:
          type: string
        text:
          type: string
          description: "Plain text of the English issue. Present on the issue URL, not the list."
        html:
          type: string
        text_i18n:
          type: object
        html_i18n:
          type: object
        video:
          type: object
          nullable: true
        api_url:
          type: string
        html_url:
          type: string
    NewsletterList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        count:
          type: integer
        issues:
          type: array
          items:
            type: object
            required:
              - id
              - date
              - title
            properties:
              id:
                type: string
              number:
                type: integer
              date:
                type: string
                description: ISO date YYYY-MM-DD.
              period:
                type: object
                properties:
                  start:
                    type: string
                  end:
                    type: string
              title:
                type: string
              subtitle:
                type: string
              title_i18n:
                type: object
                additionalProperties:
                  type: string
                description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
              subtitle_i18n:
                type: object
                additionalProperties:
                  type: string
                description: "Keys are site language codes: nn, nb, sv, da, fi, is. English lives in the sibling field."
              sign_off:
                type: string
              text:
                type: string
                description: "Plain text of the English issue. Present on the issue URL, not the list."
              html:
                type: string
              text_i18n:
                type: object
              html_i18n:
                type: object
              video:
                type: object
                nullable: true
              api_url:
                type: string
              html_url:
                type: string
      description: NewsletterList
    Source:
      type: object
      required:
        - id
        - name
        - country
      properties:
        id:
          type: string
        name:
          type: string
        country:
          type: string
        kind:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        type:
          type: string
        paywall:
          type: boolean
        enabled:
          type: boolean
        status:
          type: string
        verified:
          type: string
          nullable: true
        language:
          type: string
          nullable: true
        feed:
          type: string
          nullable: true
        source_note:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
          description: "Absolute URL of the news source's logo as a raster image (PNG or WebP, never SVG, so SwiftUI AsyncImage can draw it) on the GitHub Pages base. Null until the editor has checked the logo (review ok); a preview build also lists pending logos. The publisher's trademark, shown only to identify the source."
        logo:
          type: object
          nullable: true
          description: "Outlet logo for this source id (via outlet / _source_alias in assets/img/logos/logos.json). Null when no checked image is on file; show the name only. Same fields as a who's who logo in images.json, plus raster_url."
          properties:
            kind:
              type: string
              enum:
                - logo
            file_url:
              type: string
              description: "The original file as fetched: SVG, or WebP for raster logos."
            raster_url:
              type: string
              nullable: true
              description: "PNG rendering of an SVG (256 px on the long side, transparent), or the WebP itself. Same value as logo_url."
            source_url:
              type: string
              nullable: true
              description: "Wikimedia Commons file page, or the image URL on the publisher's site."
            author:
              type: string
              nullable: true
            license:
              type: string
              nullable: true
              description: "Commons licence, or \"Publisher's own logo, used only to identify the source of a headline\"."
            license_url:
              type: string
              nullable: true
            credit:
              type: string
              nullable: true
              description: Wikimedia Commons or Official website.
    SourceCatalogue:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        logo_note:
          type: string
        sources:
          type: array
          items:
            type: object
            required:
              - id
              - name
              - country
            properties:
              id:
                type: string
              name:
                type: string
              country:
                type: string
              kind:
                type: string
                nullable: true
              url:
                type: string
                nullable: true
              type:
                type: string
              paywall:
                type: boolean
              enabled:
                type: boolean
              status:
                type: string
              verified:
                type: string
                nullable: true
              language:
                type: string
                nullable: true
              feed:
                type: string
                nullable: true
              source_note:
                type: string
                nullable: true
              logo_url:
                type: string
                nullable: true
                description: "Absolute URL of the news source's logo as a raster image (PNG or WebP, never SVG, so SwiftUI AsyncImage can draw it) on the GitHub Pages base. Null until the editor has checked the logo (review ok); a preview build also lists pending logos. The publisher's trademark, shown only to identify the source."
              logo:
                type: object
                nullable: true
                description: "Outlet logo for this source id (via outlet / _source_alias in assets/img/logos/logos.json). Null when no checked image is on file; show the name only. Same fields as a who's who logo in images.json, plus raster_url."
                properties:
                  kind:
                    type: string
                    enum:
                      - logo
                  file_url:
                    type: string
                    description: "The original file as fetched: SVG, or WebP for raster logos."
                  raster_url:
                    type: string
                    nullable: true
                    description: "PNG rendering of an SVG (256 px on the long side, transparent), or the WebP itself. Same value as logo_url."
                  source_url:
                    type: string
                    nullable: true
                    description: "Wikimedia Commons file page, or the image URL on the publisher's site."
                  author:
                    type: string
                    nullable: true
                  license:
                    type: string
                    nullable: true
                    description: "Commons licence, or \"Publisher's own logo, used only to identify the source of a headline\"."
                  license_url:
                    type: string
                    nullable: true
                  credit:
                    type: string
                    nullable: true
                    description: Wikimedia Commons or Official website.
        search:
          type: array
        event_sources:
          type: array
      description: SourceCatalogue
    Academia:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        courses:
          type: array
        groups:
          type: array
        publications:
          type: array
        research:
          type: array
      description: Academia
    AcademiaSection:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        section:
          type: string
        items:
          type: array
      description: AcademiaSection
    AcademiaItem:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        item:
          type: object
      description: AcademiaItem
    OrgEntity:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        talk_ids:
          type: array
          items:
            type: string
          description: Talks in /api/v1/talks.json that name this person. Omitted when none are linked.
        event_ids:
          type: array
          items:
            type: string
          description: Events those talks belong to. Omitted when none are linked.
        talks:
          type: array
          description: "id, title, video_url, and event_id and date when the talk has them."
        affiliations:
          type: array
          description: "One organisation per talk, only when the talk page stated it. Each item has organisation, talk_id, source_url, source_name and retrieved_at. role and date are present when the page stated them. An affiliation without a source is omitted."
    OrgChart:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        entities:
          type: array
          items:
            "$ref": "#/components/schemas/OrgEntity"
        relations:
          type: array
        regulation:
          type: array
      description: OrgChart
    Relation:
      type: object
    RelationList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        relations:
          type: array
      description: RelationList
    RegulationList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        regulation:
          type: array
      description: RegulationList
    ProfileList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        profiles:
          type: array
      description: ProfileList
    ImageList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        images:
          type: array
      description: ImageList
    IllustrationList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        images:
          type: array
        policy:
          type: string
      description: IllustrationList
    ChangelogList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        entries:
          type: array
      description: ChangelogList
    Rules:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        available:
          type: boolean
        checked:
          type: string
      description: Rules
    ArticleArchive:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        articles:
          type: array
      description: ArticleArchive
    SiteMeta:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        languages:
          type: array
        countries:
          type: array
        cors:
          type: object
        ios:
          type: object
          description: "Public TestFlight invite for the Nordic Crypto iOS app. Not an App Store listing. apple_tv is English. apple_tv_i18n has every site language, including en."
          properties:
            name:
              type: string
              example: Nordic Crypto
            distribution:
              type: string
            label:
              type: string
            url:
              type: string
            note:
              type: string
            apple_tv:
              type: string
            apple_tv_i18n:
              type: object
        social:
          type: object
          description: "Nordic Crypto brand accounts. telegram is https://t.me/nordiccryptochat. x is https://x.com/xcryptonordic. label and name are English. name_i18n has nn, nb, sv, da, fi and is. Other languages use name."
          properties:
            note:
              type: string
            telegram:
              type: object
              properties:
                label:
                  type: string
                  example: Telegram
                name:
                  type: string
                  example: Nordic Crypto on Telegram
                name_i18n:
                  type: object
                url:
                  type: string
                  example: "https://t.me/nordiccryptochat"
            x:
              type: object
              properties:
                label:
                  type: string
                  example: X
                name:
                  type: string
                  example: Follow Nordic Crypto on X
                name_i18n:
                  type: object
                url:
                  type: string
                  example: "https://x.com/xcryptonordic"
                handle:
                  type: string
                  example: "@xcryptonordic"
        urls:
          type: object
          description: "github, newsletter, rss, telegram and x, plus the API bases. newsletter is the signup page on this site. rss is the English story feed."
      description: SiteMeta
    LanguageList:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        count:
          type: integer
        languages:
          type: array
          items:
            type: object
      description: LanguageList
    GeoLanguage:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        note:
          type: string
        default:
          type: string
        by_country:
          type: object
          additionalProperties:
            type: string
        order:
          type: array
          items:
            type: string
      description: GeoLanguage
    MarketTicker:
      type: object
      required:
        - symbol
        - base
        - quote
        - exchange
        - fetched_at
        - source_url
      properties:
        id:
          type: string
        symbol:
          type: string
          description: "BASE-QUOTE, for example BTC-NOK."
          example: BTC-NOK
        exchange_symbol:
          type: string
          description: The pair id used by the exchange.
        base:
          type: string
        quote:
          type: string
          enum:
            - NOK
            - SEK
            - DKK
            - EUR
        last:
          type: string
          nullable: true
          description: "Last price as published, decimal string. Null when the exchange does not publish a last trade."
        bid:
          type: string
          nullable: true
          description: "Best bid as published, decimal string."
        ask:
          type: string
          nullable: true
          description: "Best ask as published, decimal string."
        exchange:
          type: object
          required:
            - id
            - name
            - country
          properties:
            id:
              type: string
            name:
              type: string
            country:
              type: string
        fetched_at:
          type: string
          description: "When Nordic Crypto fetched this row, ISO 8601 UTC."
        source_url:
          type: string
          description: Exchange URL the figure was read from.
        volume_base:
          type: string
          nullable: true
          description: "Base-asset volume as published. Null when the exchange omits it. Firi's volume is stored here; that payload does not name a 24-hour window. Not treated as zero when missing."
        volume_quote:
          type: string
          nullable: true
          description: "Quote-currency volume as published, window not named. Null when omitted."
        volume_base_24h:
          type: string
          nullable: true
          description: Base-asset volume over the last 24 hours. Set only when the exchange names that window (NBX). Not added to volume_base.
        volume_quote_24h:
          type: string
          nullable: true
          description: "Quote-currency volume over the last 24 hours (NBX). The unit is this pair's quote (NOK, SEK, DKK or EUR)."
        high:
          type: string
          nullable: true
        low:
          type: string
          nullable: true
        change_pct:
          type: string
          nullable: true
        exchange_time:
          type: string
          nullable: true
          description: "Timestamp from the exchange payload, when it sends one."
    MarketLogo:
      type: object
      nullable: true
      description: Present when cryptocurrency-icons (CC0-1.0) includes this asset. Null fields on the parent when it does not. Nordic Crypto does not draw substitutes.
      properties:
        format:
          type: string
          example: svg
        source:
          type: string
        source_url:
          type: string
        version:
          type: string
        license:
          type: string
          example: CC0-1.0
        license_name:
          type: string
        license_url:
          type: string
        authors:
          type: string
        attribution:
          type: string
    MarketVolume:
      type: object
      description: Sums of like volume fields inside one pair. Fields are not mixed. A null sum means nobody published that field.
      properties:
        volume_base:
          type: string
          nullable: true
          description: "Sum of volume_base. Unit: base asset. Window not named."
        volume_base_exchanges:
          type: integer
        volume_quote:
          type: string
          nullable: true
          description: "Sum of volume_quote. Unit: quote currency. Window not named."
        volume_quote_exchanges:
          type: integer
        volume_base_24h:
          type: string
          nullable: true
          description: "Sum of volume_base_24h. Unit: base asset over the last 24 hours."
        volume_base_24h_exchanges:
          type: integer
        volume_quote_24h:
          type: string
          nullable: true
          description: "Sum of volume_quote_24h. Unit: quote currency over the last 24 hours."
        volume_quote_24h_exchanges:
          type: integer
        units:
          type: object
    MarketAggregate:
      type: object
      required:
        - symbol
        - base
        - quote
        - currency
        - exchange_count
        - updated_at
        - method
        - price
        - last
        - mid
        - min
        - max
        - contributors
        - volume
      properties:
        symbol:
          type: string
          example: BTC-NOK
          description: BASE-QUOTE. One bucket per quote currency.
        base:
          type: string
        name:
          type: string
          nullable: true
        quote:
          type: string
          enum:
            - NOK
            - SEK
            - DKK
            - EUR
        currency:
          type: string
          description: "Same as quote. NOK is never combined with EUR, SEK or DKK."
        updated_at:
          type: string
          nullable: true
          description: "Newest fetched_at among the contributors, ISO 8601 UTC."
        oldest_fetched_at:
          type: string
          nullable: true
        exchange_count:
          type: integer
          description: How many exchanges quoted this pair.
        method:
          type: string
          nullable: true
          enum:
            - mean_last
            - mean_bid_ask_mid
          description: "mean_last when any last exists, otherwise mean_bid_ask_mid. Null when no price can be formed."
        method_note:
          type: string
        price:
          type: string
          nullable: true
          description: "Equals last, or mid when no last exists."
        min:
          type: string
          nullable: true
          description: Lowest value in the same series as price.
        max:
          type: string
          nullable: true
          description: Highest value in the same series as price.
        last:
          type: string
          nullable: true
          description: Arithmetic mean of published last prices. Null if none.
        last_count:
          type: integer
        last_min:
          type: string
          nullable: true
        last_max:
          type: string
          nullable: true
        mid:
          type: string
          nullable: true
          description: Arithmetic mean of (bid+ask)/2 where both were published. Not blended into last.
        mid_count:
          type: integer
        mid_min:
          type: string
          nullable: true
        mid_max:
          type: string
          nullable: true
        vwap:
          type: string
          nullable: true
          description: "Always null. Volume windows are not comparable, so there is no VWAP."
        volume_used_for_price:
          type: boolean
        volume:
          "$ref": "#/components/schemas/MarketVolume"
        contributors:
          type: array
          items:
            type: object
        logo_url:
          type: string
          nullable: true
          description: "Absolute GitHub Pages URL of the SVG, or null."
        logo_url_custom_domain:
          type: string
          nullable: true
        logo_path:
          type: string
          nullable: true
          description: "Site-relative path, for example api/v1/markets/logos/btc.svg."
        logo:
          "$ref": "#/components/schemas/MarketLogo"
    MarketCatalogue:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        disclaimer:
          type: string
        count:
          type: integer
        aggregated_count:
          type: integer
        aggregation:
          type: object
          description: "How last, mid, volume and logos are derived."
        exchanges:
          type: array
        skipped:
          type: array
          description: Venues checked and left out because they have no public ticker.
        tickers:
          type: array
          items:
            "$ref": "#/components/schemas/MarketTicker"
        aggregated:
          type: array
          items:
            "$ref": "#/components/schemas/MarketAggregate"
        urls:
          type: object
        refresh:
          type: object
      description: MarketCatalogue
    MarketExchange:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        exchange:
          type: object
        count:
          type: integer
        tickers:
          type: array
          items:
            "$ref": "#/components/schemas/MarketTicker"
      description: MarketExchange
    MarketAsset:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
          nullable: true
        generated_at:
          type: string
        preview:
          type: boolean
        symbol:
          type: string
        count:
          type: integer
        tickers:
          type: array
          items:
            "$ref": "#/components/schemas/MarketTicker"
        aggregated:
          type: array
          items:
            "$ref": "#/components/schemas/MarketAggregate"
          description: One object per quote currency for this asset.
        aggregation:
          type: object
        logo_url:
          type: string
          nullable: true
        logo_url_custom_domain:
          type: string
          nullable: true
        logo_path:
          type: string
          nullable: true
        logo:
          "$ref": "#/components/schemas/MarketLogo"
      description: MarketAsset
    MarketAggregated:
      type: object
      properties:
        api_version:
          type: string
        name:
          type: string
        generated_at:
          type: string
        preview:
          type: boolean
        kind:
          type: string
          example: markets-aggregated
        count:
          type: integer
        aggregation:
          type: object
        pairs:
          type: array
          items:
            "$ref": "#/components/schemas/MarketAggregate"
        urls:
          type: object
      description: MarketAggregated
